body {
  display: block;
  margin: 0;
  background-color: #e5e5e5 !important;
}

.header {
  display: flex;
  align-items: center;
  background-color: #0064eb;
  height: 72px;
  width: 100%;
}

.logo-header {
  margin-left: 49px;
  height: 40px;
  width: 40px;
}

.input-header {
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 8px 2px 8px 44px;
  outline: none;
  background: url(/src/App/Components/Img/search.svg) no-repeat scroll 14px 14px;
  background-color: #ffffff;
}

.form-header {
  margin-left: 38px;
  margin-right: 15px;
}
