.main {
  display: flex;
  padding-left: 40px;
  padding-right: 56px;
}

.user-avatar {
  max-height: 280px;
  border-radius: 50%;
}

.left-panel {
  margin-top: 39px;
}

.user-name {
  margin-top: 29px;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #000000;
}

.user-login {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #0064eb;
  text-decoration: none;
}

.foll-block {
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
}

.followers-icon,
.following-icon {
  margin-right: 9px;
}

.user-followers,
.user-following {
  display: flex;
  margin-right: 20px;
  align-items: center;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
